{% extends "base.html" %}
{% block title %}Home - KZN Department of Transport{% endblock %}
{% block content %}
<div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to KZN Department of Transport</h1>
    <p class="lead">Efficient public transportation management system.</p>
    <hr class="my-4">
    <p>Explore our services to learn more.</p>
    <a class="btn btn-primary btn-lg" href="/booking" role="button"><i class="fas fa-calendar-check"></i> Book an Appointment</a>
</div>
{% endblock %}
